<?php
$latestNews = $block->getLatestnews();
if($latestNews->getSize() > 0) :
    ?>
    <div class="block block-simplenews">
        <div class="block-title">
            <strong class="block-simplenews-heading"><?php echo __('Latest News') ?></strong>
        </div>

        <div class="block-content">
            <?php foreach ($latestNews as $news) : ?>
                <div>
                    <span>+ </span>
                    <a href="<?php echo $this->getUrl('news/index/view', ['id' => $news->getId()])?>">
                        <span><?php echo $news->getTitle() ?></span>
                    </a>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>